html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 1em;
  line-height: 1.5em;
  font-family: 'Inter', sans-serif;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  grid-template-areas:
    "feature feature feature"
    "img2 img3 img4"
  ;
}

.feature {
  grid-area: feature;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.price {
  font-weight: bold;
  font-size: 1.5em;
}

.button {
  text-decoration: none;
  color: #fff;
  padding: .5em;
  font-size: 1.1em;
  background-color: #1e4620;
  border-radius: 10px;
  transition: all .3s linear;
}

.container {
  margin: 2em 0 3em;
}

a:hover {
  background-color: #06170e;
}

h2 {
  margin: 0 0 -.2em;
}

h3 {
  margin: 0 0 -.5em;
}

.description {
  margin: 4em 0;
}

.description ul {
  line-height: 2.5em;
  padding: 0;
  list-style: none;
}

.info {
  margin-bottom: 2em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.quotes {
  margin: 5em 0;
}

.quote-text {
  display: grid;
  grid-template-columns: 1fr;
}

footer {
  text-align: center;
}


@media only screen and (min-width: 38em) {

  .images {
    grid-template-columns: 76% 24%;
    grid-template-areas:
      "feature img2"
      "feature img3"
      "feature img4"
    ;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .quote-text {
    grid-template-columns: 1fr 1fr;
  }

}

/* Add media query for tablet */




/* Add media query for desktop */
